@import "../../styles.scss";

.row {
  margin: 0px;
}

// **************** logo ***************
.uba-heading {
  font-weight: 700;
  font-size: 3rem;
}

.juit-heading {
  font-weight: 600;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  img {
    display: none;
  }

  .uba-heading {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .juit-heading {
    font-weight: 500;
    font-size: 1rem;
  }
}

@media screen and (max-width:770px) {
  .uba-heading {
    padding-top: 10px;
    font-weight: 700;
    font-size: 1.7rem;
  }

  .juit-heading {
    font-weight: 500;
    font-size: 1.2rem;
  }
}

// ****************  Nav-Bar *****************
.nav-item,
.home {
  font-weight: 700;
}

.nav-link {
  padding: 10px 12px 10px 12px;
  margin: 0px 10px 0px 10px;
}

.nav-color {
  color: white;
}

.nav-color:hover {
  color: black;
  background-color: $background-theme;
}

nav {
  padding: 0px;
  background-color: black;
}

button {
  color: white;
}

.login {
  margin-left: 100px;
}
