@import "../../styles.scss";

.row {
  margin: 0px;
  // background-image: url(../../assets/header1.jpg);
  background-color: $background-theme;
  background-size: cover;
}



// .neonText {
//   color: rgb(132, 81, 81);
//   text-shadow:
//     0 0 7px #fff,
//     0 0 10px #fff,
//     0 0 21px #fff,
//     0 0 42px #0fa,
//     0 0 82px #0fa,
//     0 0 92px #0fa,
//     0 0 102px #0fa,
//     0 0 151px #0fa;
// }

// **************** logo ***************
.uba-heading {
  font-weight: 700;
  font-size: 3rem;
}

.juit-heading {
  font-weight: 600;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  img {
    display: none;
  }

  .uba-heading {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .juit-heading {
    font-weight: 500;
    font-size: 1rem;
  }
}

@media screen and (max-width:770px) {
  .uba-heading {
    padding-top: 10px;
    font-weight: 700;
    font-size: 1.7rem;
  }

  .juit-heading {
    font-weight: 500;
    font-size: 1.2rem;
  }
}

// ****************  Nav-Bar *****************
.nav-item,
.home {
  font-weight: 700;
}

button {
  color: white;
}

.nav-link {
  // padding: 8px 12px 10px 12px;
  margin: 0px 10px 0px 10px;
  color: white;
}

// .navbar-toggler {
//   color: red;
// }

.nav-link:hover {
  // color: rgb(153, 85, 51);
  color: $background-theme !important;

}

.nav-color {
  color: white;
}

.nav-color:hover {
  color: black;
  background-color: $background-theme;
}

nav {
  padding: 0px;
  background-color: black;
}

button {
  color: white;
}

.login {
  margin-left: 100px;
}
