<footer class="container-fluid ">
  <div class="row text-center pt-3">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h2 class="h2 pb-2">Unnat Bharat Abhiyan JUIT</h2>
      <p class="f-color"><i class="fas fa-map-marker-alt"></i> Prof. Virendra Kr. Vijay
        (National Coordinator),<br>
        Unnat Bharat Abhiyan,<br>
        Room No. 376, Block-III,CRDT <br>
        Indian Institute of Technology Delhi,
        Hauz Khas, New Delhi-110016</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 ">
      <h2 class="h2 pb-2">Quick Links</h2>
      <p><a href="#Home" class="f-a-color  nav-link">HOME</a></p>
      <p><a href="#about" class="f-a-color nav-link">ABOUT</a></p>
      <p><a href="#gallery" class="f-a-color nav-link">GALLERY</a></p>
      <p><a href="#member" class="f-a-color nav-link">MEMBERS</a></p>
      <p><a href="#in-news" class="f-a-color nav-link">IN-NEWS</a></p>
      <p><a href="#visit" class="f-a-color nav-link">VISIT</a></p>
      <p><a href="#contact" class="f-a-color nav-link">CONTACT</a></p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h2 class="h2 pb-2">Connect With Us</h2>
      <p><a href="https://www.facebook.com/profile.php?id=100048393034210" class="f-a-color nav-link"
          target="_blank">Facebook</a></p>
      <p><a href="https://www.instagram.com/narendra__verma_/" class="f-a-color nav-link" target="_blank">Instagram</a>
      </p>
      <p><a href="https://www.youtube.com/" class="f-a-color nav-link" target="_blank">Youtube</a></p>
      <p><a href="https://unnatbharatabhiyan.gov.in:8443/new-website/" class="f-a-color nav-link"
          target="_blank">Official
          UBA</a></p>
      <p><a href="https://www.juit.ac.in/" class="f-a-color nav-link" target="_blank">Official JUIT</a></p>
      <!-- <p>
                    <strong><i class="fas fa-envelope"></i>Mail Us: </strong><a
                        href="https://mail.google.com/mail/u/0/#inbox">narendra.verma8005@gmail.com</a>
                </p> -->
      <p><strong><i class="fas fa-envelope"></i> Mail Us: </strong> <span class="f-color">ubajuit@gmail.com </span> </p>
      <p><strong><i class="fas fa-phone-volume"></i> Call Us: </strong><span class="f-color">9838009193</span> </p>
    </div>
  </div>
  <div class="copyright-div pt-2 pb-1">
    <p class="text-center ">COPYRIGHT &copy;2022 to Narendra, Ashutosh and Chandan</p>
  </div>
</footer>
