<div class="container col-md-4 col-sm-12 col-xs-12 " style="margin-top: 5rem; margin-bottom: 5rem;">
  <div class=" border shadow">
    <h2 class="text-center text-white p-2 rounded bg-primary">Enter Password</h2><br>
    <form class="pt-1 pl-3 pr-3 pb-3 rounded" [formGroup]="passwordForm" (ngSubmit)="changePsswords()" ngNativeValidate>
      <!-- <form class="pt-1 pl-3 pr-3 pb-3  rounded" [formGroup]="passwordForm" ngNativeValidate> -->
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control form-control-sm" placeholder="Password"
        formControlName="password" required><br>
      <!-- <label for="confirmPass">Confirm Password</label>
      <input type="password" name="confirmPass" class="form-control form-control-sm" placeholder="Confirm Password"
        formControlName="confirmPassword" required><br> -->
      <div *ngIf="!matchPassword">
        <p class="text-danger">*password must be same</p>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary ">Reset</button>
        <!-- <button type="submit" class="btn btn-primary " (click)=" changePssword()">Reset</button> -->
      </div>
    </form>
  </div>
</div>
