<!-- <div>
  <img src="../../assets/contact-us-background.jpg" class="bg-img" alt="">
</div> -->
<div class="bg-image">
  <div class="row  mx-0 ">
    <div class="col-md-1"></div>
    <div class="col-md-4 col-sm-6 col-xs-12 mt-5">
      <!-- (ngSubmit)="contactUs()" -->
      <form class="form-group rounded shadow p-3 " [formGroup]="formGroup" style="margin-top: 200px;">
        <h3 class="text-center">
          Conatct Us
        </h3>
        <div class="row mb-2">
          <div class="col">
            <label for="firstName" class="label-text form-label">Full Name</label>
            <input type="text " class="form-control form-control-sm rounded" placeholder="Full Name"
              formControlName="name" required>
          </div>
          <!-- <div class="col">
          <label for="lastName" class="label-text form-label">Last Name</label>
          <input type="text " class="form-control form-control-sm rounded" placeholder="Last Name"
            formControlName="lastName" required>
        </div> -->
        </div>
        <div class="row  mb-2">
          <div class="col">
            <label for="email" class="label-text form-label">Email</label>
            <input type="email " class="form-control form-control-sm rounded" placeholder="Email"
              formControlName="email" required>
          </div>
          <div class="col">
            <label for="mobile" class="label-text form-label">Mobile No.</label>
            <input type="tel" class="form-control form-control-sm rounded" placeholder="Mobile No."
              formControlName="phone_Number" required>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="textArea" class="label-text form-label">Message</label>
            <textarea class="form-control form-control-sm rounded" rows="2" cols="50" placeholder="Enter Your Message"
              formControlName="message" required></textarea>
          </div>
        </div>
        <div class="row">
          <!-- <div class=""> -->
          <button class="call-btn btn btn-primary btn-sm mr-auto ml-3" (click)="getWhatsappMsg()">WhatsApp Us</button>
          <button type="button" class="btn btn-primary btn-sm ml-auto mr-3" (click)="contactUs()">
            Send
          </button>
          <!-- <button type="button" class="btn btn-primary btn-sm"><a href="https://wa.me/919838009193" target="_blank"
              class="text-white d-inline">Click
              her to
              chat</a></button> -->
          <!-- <a href="https://wa.me/919838009193" class="btn btn-primary btn-lg active" role="button">Primary link</a> -->
          <!-- </div> -->
        </div>
      </form>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-6 col-sm-6 col-xs-12 ">
      <div class=" rounded mb-3 detail ">
        <h3 class="text-center p-3 h1" style="color: black;">We are here to help you</h3>
        <div class="row justify-content-around pl-5 mb-3">
          <!-- <span class="">Faculty Co-ordinator</span> <br> -->
          <div class="col-6 ">
            <!-- <div class="card content_img" style="width: 18rem; "> -->
            <div class="card content_img" style="width: 18rem; height: 20rem; ">
              <!-- height="200px" -->
              <img src="../../assets/Gopal.jpg" class="card-img-top" alt="..." style="height: 200px; ">
              <div class="overlay">Gopal S Bisth</div>
              <!-- <div class=" card-body m-2"> -->
              <div class=" m-2">
                <!-- <p class="card-title h5 mt-0">Dr. Gopal Singh Bishth</p> -->
                <p class="card-title h5 ">Dr. Gopal Singh Bishth</p>
                <p class="card-text">Tel (office) : (91) 1792-239220 (W) <br>
                  E-mail : gopal.singh@juit.ac.in
                  <!-- , bisht.gopal@gmail.com -->
                </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card content_img" style="width: 18rem;">
              <!-- height="200px" -->
              <img src="../../assets/Saurav.jpg" class="card-img-top" alt="..." height="200px">
              <div class="overlay">Dr. Saurav</div>
              <!-- <div class="card-body"> -->
              <div class="m-2">
                <p class="card-title h4">Dr. Saurav</p>
                <p class="card-text">Contact No: 9625229857 <br>
                  E-mail: ersauravsupstar@gmail.com
                </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-around pl-5 pb-4">
          <!-- <h6 class="">Faculty Co-ordinator</h6> -->
          <div class="col-6 ">
            <div class="card content_img" style="width: 18rem;">
              <img src="../../assets/Nishkarsh.jpg" class="card-img-top" alt="..." height="200px">
              <div class="overlay">Nishkarsh Sharma</div>
              <div class="card-body">
                <h5 class="card-title">Nishkarsh Sharma</h5>
                <p class="card-text">Contact No: 8171252061
                </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card content_img" style="width: 18rem;">
              <img src="../../assets/Anushka.jpg" class="card-img-top" alt="..." height="200px">
              <div class="overlay">Anushka Priya</div>
              <div class="card-body">
                <h5 class="card-title">Anushka Priya</h5>
                <p class="card-text">Contact No: 8002233198
                </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
