  <div class="container "> <img src="../../assets/IMG_7437.JPG" alt="group photo" class="img pt-3">
  </div>

  <div class="container pb-3">

    <h3 class="theme-color pl-0 pt-3 pb-3 ">Introduction</h3>
    <p class="p">Unnat Bharat Abhiyanisa flagship programme of Ministry of Education (MOE), Govt.of
      India that aims to enrich Rural India. The scheme aims to link higher educational institutions with set of atleast
      five villages, so that they can contribute to economic and social betterment. <br> <br>
      <strong> Jaypee University of Information Technology, Solan </strong> an active member of Unnat Bharat Abhiyan.
      Institute
      has adopted five villages from Solan, Himanchal Pradesh under this program.
      <br><br>Motivation by the vision of Gandhi ji of self-sufficient ‘Village Republics’, Govt. of India has set its
      vision of holistic development of villages. Under this vision, rural areas need to be developed with local
      resources
      (both material and manpower), eco-friendly technologies so that the basic need of food, clothing, shelter,
      sanitation, health care, energy, livelihood, education etc. are locally met.</p>
    <h3 class="theme-color pl-0 pt-3 pb-3 ">History</h3>
    <p class="p">The conceptualization of Unnat Bharat Abhiyan started with the initiative of a group of dedicated
      faculty members of Indian Institute of Technology (IIT) Delhi working for long in the area of rural development
      and appropriate technology. The concept was nurtured through wide consultation with the representatives of a
      number of technical
      institutions, Rural Technology Action Group (RuTAG) coordinators, voluntary organizations and government agencies,
      actively involved in rural development work, during a National workshop held at IIT Delhi in September, 2014. The
      workshop was sponsored by Council for Advancement of People’s Action and Rural Technology (CAPART), Ministry of
      Rural Development, Govt. of India. The program was formally launched by the Ministry of Education (MoE) (formerly
      Ministry Human Resource Development (MHRD)) in presence of The President of India on 11th November, 2014.
    </p>
    <h3 class="theme-color pl-0 pt-3 pb-3 ">Vision</h3>
    <p class="p">
      Unnat Bharat Abhiyan is inspired by the vision of transformational change in rural development processes by
      leveraging knowledge institutions to help build the architecture of an Inclusive India.
    </p>
    <h3 class="theme-color pl-0 pt-3 pb-3 ">Mision</h3>
    <p class="p">The Mission of Unnat Bharat Abhiyan is to enable higher educational institutions to work with the
      people of rural India in identifying development challenges and evolving appropriate solutions for accelerating
      sustainable growth. It also aims to create a virtuous cycle between society and an inclusive academic system by
      providing
      knowledge and practices for emerging professions and to upgrade the capabilities of both the public and the
      private sectors in responding to the development needs of rural India.
    </p>

    <h3 class="theme-color pl-0 pt-3 pb-3 ">Goals</h3>

    <ul>
      <li>
        To build an understanding of the development agenda within institutes of Higher Education and an institutional
        capacity and training relevant to national needs, especially those of rural India.</li>
      <li>To re-emphasize the need for field work, stake-holder interactions and design for societal objectives as the
        basis of higher education.
      </li>
      <li>To stress on rigorous reporting and useful outputs as central to developing new professions.
      </li>
      <li>To provide rural India and regional agencies with access to the professional resources of the institutes of
        higher education, especially those that have acquired academic excellence in the field of science, engineering
        and
        technology, and management.
      </li>
      <li>To improve development outcomes as a consequence of this research. To develop new professions and new
        processes
        to sustain and absorb the outcomes of research.
      </li>
      <li>To foster a new dialogue within the larger community on science, society and the environment and to develop a
        sense of dignity and collective destiny.
      </li>
    </ul>
    <div>
      <h3 class="theme-color pl-0 pt-3 pb-3 ">Lists Of Forms</h3>
      <ul>
        <li>
          <a href="https://unnatbharatabhiyan.gov.in:8443/app/webroot/files/uba-forms/GPDP_report_format.pdf"
            target="_blank">GPDP
            Report Format</a>
        </li>
        <li> <a href="https://unnatbharatabhiyan.gov.in:8443/app/webroot/files/uba-forms/sample_HOI_Letter.pdf"
            target="_blank">Sample HOI Letter </a></li>
        <li> <a href="https://unnatbharatabhiyan.gov.in:8443/app/webroot/files/uba-forms/UBA_Household_Survey_Form.pdf"
            target="_blank">UBA Household Survey Form</a></li>
        <li> <a href="https://unnatbharatabhiyan.gov.in:8443/app/webroot/files/uba-forms/UBA_mandate.pdf"
            target="_blank">UBA Mandate Forms</a>
        </li>
        <li> <a
            href="https://unnatbharatabhiyan.gov.in:8443/app/webroot/files/uba-forms/UBA_Monthly_Progress_Report.pdf"
            target="_blank">UBA Monthly Progress Report</a></li>
        <li> <a href="https://unnatbharatabhiyan.gov.in:8443/app/webroot/files/uba-forms/UBA_Village_Survey_Form.pdf"
            target="_blank">UBA Village Survey Form</a></li>
        <li> <a
            href="https://unnatbharatabhiyan.gov.in:8443/app/webroot/files/uba-forms2/Utilization%20Certificate%20Form%20GFR%2012A.pdf"
            target="_blank">Utilization Certificate Form</a>
        </li>
      </ul>
    </div>
  </div>
