<div class="container m-5">
  <h3 class="bg-dark text-white p-3 mt-5 text-center">Events</h3>
  <form class="form-group rounded shadow p-3" [formGroup]="eventForm" (ngSubmit)="sendEventData()" ngNativeValidate>
    <div class="row">
      <div class="col-md-6">
        <label for="eventName" class="label-text form-label mb-0 mt-2">
          Event Name </label>
        <input type="text" class="form-control rounded my-2" placeholder="Event Name" formControlName="eventName"
          id=" eventName" />
      </div>
      <div class="col-md-6">
        <label for="date" class="label-text form-label mb-0 mt-2">
          Event Date</label>
        <input type="date" class="form-control rounded my-2" placeholder="date" formControlName="eventDate"
          id=" date" />
      </div>
      <div class="col-md-12">
        <label for="photo" class="label-text form-label">Event Photos</label>
        <input type="file" class="form-control rounded my-2" placeholder="Photos" formControlName="uploader" id=" photo"
          enctype="multipart/form-data" (change)="onFileChange($event)" #fileInput />
      </div>
    </div>
    <div class="pl-auto">
      <button class="btn btn-primary form-control form-control-sm btn-sm mt-3  " type=" submit">
        Submit
      </button>
    </div>
  </form>



  <!-- =================  Event list Api ================ -->
  <div>
    <h3 class="bg-dark text-white p-3 mt-5 text-center">Event List</h3>
    <table datatable [dtOptions]="dtOptions" class="table table-bordered text-center table-hover mt-5 ">
      <thead class="table-secondary">
        <tr>
          <th>Event Name</th>
          <!-- <th>Collage</th> -->
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of jsonData">
          <!-- <tr *ngFor="let data of getData"> -->
          <td>{{data.name}}</td>
          <!-- <td>{{data.collage}}</td> -->
          <td>
            <i class="fas fa-trash " data-toggle="modal" data-target="#delete"
              style="color:red; font-size: 17px;cursor: pointer;"></i>
          </td>
          <!-- (click)="deleteId(data._id)" -->
        </tr>
      </tbody>
    </table>
  </div>

</div>


<!-- ============== Model ================== -->

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to delete</p>
        <!-- (click)="delete()" -->
        <button class="btn btn-danger" type="button" data-dismiss="modal" (click)="delete()">Yes</button>
        <button class="btn btn-success ml-2" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
