<!-- <div *ngFor="let item of getData">
  <ng-image-slider [images]="item.eventPhoto" #nav></ng-image-slider>
  <ng-image-slider [images]={{item.eventPhoto}} #nav></ng-image-slider>
</div> -->


<div class="container-fluid">
  <div class="conatiner">
    <ng-container *ngIf="mainImg " class="m-0">
      <div class="mt-3 mainDiv rounded mb-3 ">
        <div class="row justify-content-start">
          <div class="col-3 " *ngFor="let data of getData; let i=index">
            <div class="card cardDiv p-2 m-3 shadow">
              <a (click)="showImg(data.eventPhoto)">
                <img src={{data.eventPhoto[0]}} alt="Event Photos" class="card-img-top mainImage" alt="..."
                  height="250em" width="250rem">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{data.eventName}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="viewImg">
    <div class="text-left">
      <button class=" m-2 ml-0 btn btn-primary" (click)="backButton()">Click Here To Go Back</button>
    </div>
    <div class="row justify-content-start">
      <div class="col-3 " *ngFor="let data of showImage; let i=index">
        <div class=" img-group card p-2 m-2 shadow rounded">
          <img src={{data}} alt="All event Photo" class="card-img-top  allPhoto" alt="..." height="250em"
            width="250rem">
        </div>
      </div>
    </div>
  </ng-container>
</div>
