.img {
  width: 110%;
  border-radius: 10px;
  border: 5px solid black;
}

.img:hover {
  transform: scale(1.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    border: 15px solid lightblue;
  }
}
