<div class="container col-md-4 col-sm-12 col-xs-12 " style="margin-top: 5rem; margin-bottom: 5rem;">
  <div class=" border shadow">
    <h2 class="text-center text-white p-2 rounded bg-primary">Get Email</h2><br>
    <form class="pt-1 pl-3 pr-3 pb-3  rounded" [formGroup]="forgetForm" (ngSubmit)="sendEmail()" ngNativeValidate>
      <label for="password">Email</label>
      <input type="email" name="password" class="form-control form-control-sm" placeholder="Email"
        formControlName="email" required><br>
      <!-- <label for="confirmPass"> Password</label>
      <input type="password" name="confirmPass" class="form-control form-control-sm" placeholder="Enter Passport"
        formControlName="password" required><br> -->
      <div class="text-center">
        <button type="submit" class="btn btn-primary ">Get link on Email</button>
      </div>
    </form>
  </div>
</div>
